LifeFy_Orchestrator.json
{
  "name": "LifeFy - Orchestrator Principal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lifefy-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook Chatwoot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "msg", "value": "={{ $json.body.conversation.messages[0].content }}", "type": "string" },
            { "name": "tenant_id", "value": "={{ $json.body.account.id }}", "type": "string" },
            { "name": "user_id", "value": "={{ $json.body.conversation.messages[0].sender.phone_number }}", "type": "string" }
          ]
        }
      },
      "name": "Set Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.msg }}",
        "options": {
          "systemMessage": "=## IDENTIDADE: Você é o LifeFy, assistente pessoal do usuário no WhatsApp. Linguagem direta, natural, otimista.\n\nVocê gerencia 5 áreas essenciais: Finanças, Compromissos, Saúde, Tarefas e Metas (Objetivos).\nTodas as Tools suportam 'acao' = 'consultar' e 'inserir'.\nSe o usuário fizer uma pergunta (Ex: 'quanto falta pro carro?', 'fui quantas vezes na academia?', 'tenho reuniao hoje?'), acione a Tool respectiva com acao = consultar. Eu te retornarei os dados e você fará a matemática, o resumo e a previsão baseada nos prazos. Entregue um texto agradável em WhatsApp!\nSe ele der uma nova ordem (ex: 'comprei pao', 'quero marcar uma viagem', 'anota que bebi agua'), use acao = inserir."
        }
      },
      "name": "LifeFy Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [450, 0]
    },
    {
      "parameters": { "model": "gpt-4o-mini" },
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Set Context').item.json.user_id }}"
      },
      "name": "Postgres Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [550, 200],
      "credentials": { "postgres": { "id": "placeholder", "name": "postgres_cloudfy" } }
    },
    {
      "parameters": {
        "name": "LifeFy_Financas",
        "description": "Consultar ou Inserir gastos, balanços mensais, relatórios bancários.",
        "workflowId": "ID_TOOL_FINANCAS",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Set Context').item.json.tenant_id }}",
            "user_id": "={{ $('Set Context').item.json.user_id }}",
            "acao": "={{ $fromAI('acao', '\"inserir\" ou \"consultar\"', 'string') }}",
            "tipo": "={{ $fromAI('tipo', 'Despesa ou Receita', 'string') }}",
            "categoria": "={{ $fromAI('categoria', 'Alimentacao, etc', 'string') }}",
            "valor": "={{ $fromAI('valor', 'Apenas numero', 'number') }}",
            "descricao": "={{ $fromAI('descricao', '', 'string') }}"
          }
        }
      },
      "name": "Tool Financas",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "name": "LifeFy_Saude",
        "description": "Consultar ou Inserir treinos, alimentação, água.",
        "workflowId": "ID_TOOL_SAUDE",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Set Context').item.json.tenant_id }}",
            "user_id": "={{ $('Set Context').item.json.user_id }}",
            "acao": "={{ $fromAI('acao', '\"inserir\" ou \"consultar\"', 'string') }}",
            "tipo_habito": "={{ $fromAI('tipo_habito', 'Agua, Academia, etc', 'string') }}",
            "valor": "={{ $fromAI('valor', 'Numero', 'string') }}",
            "unidade": "={{ $fromAI('unidade', 'litros, vez, hs', 'string') }}"
          }
        }
      },
      "name": "Tool Saude",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "name": "LifeFy_Compromissos",
        "description": "Consultar ou Inserir eventos, reuniões, aniversários de hoje, da semana.",
        "workflowId": "ID_TOOL_COMPROMISSOS",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Set Context').item.json.tenant_id }}",
            "user_id": "={{ $('Set Context').item.json.user_id }}",
            "acao": "={{ $fromAI('acao', '\"inserir\" ou \"consultar\"', 'string') }}",
            "titulo": "={{ $fromAI('titulo', 'Resumo', 'string') }}",
            "data_hora": "={{ $fromAI('data_hora', 'Data e hora padrao', 'string') }}",
            "descricao": "={{ $fromAI('descricao', 'Detalhes do evento', 'string') }}"
          }
        }
      },
      "name": "Tool Compromissos",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [750, 200]
    },
    {
      "parameters": {
        "name": "LifeFy_Tarefas",
        "description": "Consultar pendências ou Inserir nova tarefa to-do.",
        "workflowId": "ID_TOOL_TAREFAS",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Set Context').item.json.tenant_id }}",
            "user_id": "={{ $('Set Context').item.json.user_id }}",
            "acao": "={{ $fromAI('acao', '\"inserir\" ou \"consultar\"', 'string') }}",
            "titulo": "={{ $fromAI('titulo', 'Titulo da tarefa', 'string') }}",
            "prioridade": "={{ $fromAI('prioridade', 'Alta, Media, Baixa', 'string') }}"
          }
        }
      },
      "name": "Tool Tarefas",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [950, 200]
    },
    {
      "parameters": {
        "name": "LifeFy_Objetivos",
        "description": "Consultar ou Inserir metas financeiras (ex: Comprar carro). Pode retornar prazo.",
        "workflowId": "ID_TOOL_OBJETIVOS",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tenant_id": "={{ $('Set Context').item.json.tenant_id }}",
            "user_id": "={{ $('Set Context').item.json.user_id }}",
            "acao": "={{ $fromAI('acao', '\"inserir\" ou \"consultar\"', 'string') }}",
            "nome_objetivo": "={{ $fromAI('nome_objetivo', 'Nome', 'string') }}",
            "valor_meta": "={{ $fromAI('valor_meta', 'Alvo em BRL', 'number') }}",
            "prazo": "={{ $fromAI('prazo', 'Data prevista ISO', 'string') }}"
          }
        }
      },
      "name": "Tool Objetivos",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wanderingmacaque-chatwoot.cloudfy.live/api/v1/accounts/{{ $('Set Context').item.json.tenant_id }}/conversations/FIXO/messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "content", "value": "={{ $json.output }}" },
            { "name": "message_type", "value": "outgoing" }
          ]
        }
      },
      "name": "Send Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 0],
      "credentials": { "httpHeaderAuth": { "id": "placeholder", "name": "Chatwoot API" } }
    }
  ],
  "connections": {
    "Webhook Chatwoot": { "main": [ [ { "node": "Set Context", "type": "main", "index": 0 } ] ] },
    "Set Context": { "main": [ [ { "node": "LifeFy Agent", "type": "main", "index": 0 } ] ] },
    "OpenAI Chat Model": { "ai_languageModel": [ [ { "node": "LifeFy Agent", "type": "ai_languageModel", "index": 0 } ] ] },
    "Postgres Memory": { "ai_memory": [ [ { "node": "LifeFy Agent", "type": "ai_memory", "index": 0 } ] ] },
    "Tool Financas": { "ai_tool": [ [ { "node": "LifeFy Agent", "type": "ai_tool", "index": 0 } ] ] },
    "Tool Compromissos": { "ai_tool": [ [ { "node": "LifeFy Agent", "type": "ai_tool", "index": 0 } ] ] },
    "Tool Saude": { "ai_tool": [ [ { "node": "LifeFy Agent", "type": "ai_tool", "index": 0 } ] ] },
    "Tool Tarefas": { "ai_tool": [ [ { "node": "LifeFy Agent", "type": "ai_tool", "index": 0 } ] ] },
    "Tool Objetivos": { "ai_tool": [ [ { "node": "LifeFy Agent", "type": "ai_tool", "index": 0 } ] ] },
    "LifeFy Agent": { "main": [ [ { "node": "Send Chatwoot", "type": "main", "index": 0 } ] ] }
  },
  "settings": {}
}
