LifeFy_Saude.json
{
  "name": "Tool - LifeFy Saude",
  "nodes": [
    {
      "parameters": {},
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "health_habits",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "tenant_id", "fieldValue": "={{ $json.tenant_id }}" },
            { "fieldId": "user_id", "fieldValue": "={{ $json.user_id }}" },
            { "fieldId": "tipo_habito", "fieldValue": "={{ $json.tipo_habito }}" },
            { "fieldId": "valor", "fieldValue": "={{ $json.valor }}" },
            { "fieldId": "unidade", "fieldValue": "={{ $json.unidade }}" }
          ]
        }
      },
      "name": "Insert Habit",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [200, 0],
      "credentials": { "supabaseApi": { "id": "placeholder", "name": "Supabase" } }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "response", "value": "A métrica de saúde foi computada no banco com sucesso.", "type": "string" }
          ]
        }
      },
      "name": "Return Msg",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [ [ { "node": "Insert Habit", "type": "main", "index": 0 } ] ] },
    "Insert Habit": { "main": [ [ { "node": "Return Msg", "type": "main", "index": 0 } ] ] }
  },
  "settings": {}
}
